.aboutwrapper{
    width: 1200px;
    margin: 50px;
}

.highlight{
    color: green;
}

.line{
    width: 400px;
    margin: auto;
}

.lineimage{
    margin-top: 100px;
    width: 100%;
}

.sfwrapper{
    float: left;
    width: 50%;
}

.sfimage{
width: 550px;
}

.para{
    line-height: 30px;
    float: right;
    width: 50%;

}