
.activelist{
    list-style-type: none;
    margin-top: 80px;
}

.progresscircular{
    position: absolute;
    top: 40%;
    right: 40%; 
    height: 70vh;
    width: 70vw; 
    align-items: center;
    justify-content: center;
}

.listitems{
    display: flex;
    flex-direction: row;
    padding: 20px 150px; 
    border-radius: 20px;
    margin-bottom: 5px;
}

.listitems:hover{
    background-color: #b6dc76;
    cursor: pointer;
    color: #fff;
    border: none;
    text-decoration: none;
}

.icon1 button{
    background-color: transparent;
    border: none;
    margin-left: -80px;
    transform: scale(1.4);
    color:rgb(136, 236, 136);
}

.icon2 button{
    background-color: transparent;
    border: none;
    margin-right: 100px;
    transform: scale(1.4);
    color: rgb(248, 123, 123);
}

.icon1:hover{
    cursor: pointer;
    color:rgb(79, 241, 79);
}

.icon2:hover{
    cursor: pointer;
    color: rgb(219, 61, 61);
}