
#titles{
    display: flex;
    flex: 90%;
}

#icons{
    border: none;
    background-color: transparent;
    color: rgb(96, 147, 192);
    transform: scale(1.1);
    margin-right: 10px;
}

#icons:hover{
    color: rgb(57, 107, 150);
    cursor: pointer;
}