.boxedSidebar{
    width: 150px;
    height: 120px;
    color: rgb(209, 209, 209);
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

.avatarSidebar{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}