.wrapperr{
    background-color: #95a472;
    width: 100%;
    max-height: 200px;
    margin-top: 50px;
}

.card__location{
    color: #fff;
    font-family: "OpenSans";
    font-size: 30px;
    margin-top: 10px;
    margin-left: 20px;
}

.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.card{
    width: 100%;
    height: 130px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}


.card__content{
    font-size: 40px;
    font-family: "OpenSans";
    color: #023e8a;
}


