.pagetitle {
  border-bottom: 1px solid #dbfeb8;
  color: #294936;
  padding: 10px 100px;
  margin-top: 15px;
}

.editiconbutton {
  border: none;
  background-color: transparent;
}

.idimgdiv span{
  float: left;
}

.idimgdiv {
  display: inline;
  width: 50%;
  height: 150px;
  /* margin-left: 160px; */
}

.idimgcss {
  float: right;
  width: 300px;
  height: 200px;
  border-radius: 0;
  object-fit: cover;
}

.avatar {
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 50%;
}

.picicon {
  transform: scale(0.8);
}


.boxed{
  justify-content: center;
  margin: auto;
  width: 300px;
  height: 250px;
}

.avatarwrapper{
  text-align: center;
}

.propicbutton {
  border: none;
  background-color: #344e41;
  color: #fff;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.editform {
  flex: left;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
}

.inputfield {
  float: right;
  width: 80%;
}

.submitbutton{
  border: none;
  background-color: #344e41;
  color: #fff;
  margin-left: 10px;
  padding: 3px 10px;
  border-radius: 5px;
}

.inputf{
  padding: 5px;
  width: 50%;
}

.inputf:focus {
  /* box-shadow: 0 0 5px #3e8914;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px; */
  border: 1px solid #3e8914;
}

.group-control{
  margin-bottom: 20px;
}

/* .wrapperelement{
  height: 100px;
  overflow-y: scroll;
} */