.pagetitle{
    
    border-bottom: 1px solid #dbfeb8;
    color: #294936;
    padding: 10px 100px;
    margin-top: 15px;
}



/* 
.menudiv{
    list-style-type: none;
    margin-top: 80px;
}

.listitem{
    display: flex;
    flex-direction: row;
    padding: 20px 150px; 
    border-radius: 20px;
    margin-bottom: 5px;
}

.listitem:hover{
    background-color: #b6dc76 ;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
}

.icon{
    flex: 30%;
    display: grid;
    place-items: center;

}

.title{
    flex: 70%;
} */




.avatar{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.picicon{
    transform: scale(0.8);
}

.propicbutton{
    border: none;
    background-color: #344e41;
    color: #fff;
    margin-top: 10px;
    padding: 8px 15px;
    border-radius: 5px;

}

.editform{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    padding: 10px;
}

.inputfield{
    margin: 10px 20px;
    width: 100%;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 150 ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    /* margin: 5px 1px 3px 0px; */
    border: 1px solid #DDDDDD;
    color: gray;
}

.inputfield:focus{

    box-shadow: 0 0 5px #3e8914;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #3e8914;

}