.pagetitle {
  border-bottom: 1px solid #dbfeb8;
  color: #294936;
  padding: 10px 100px;
  margin-top: 15px;
}

.editiconbutton {
  border: none;
  background-color: transparent;
}

.idimgdiv span{
  float: left;
}

.idimgdiv {
  display: inline;
  width: 50%;
  height: 150px;
  /* margin-left: 160px; */
}

.idimgcss {
  float: right;
  width: 300px;
  height: 200px;
  border-radius: 0;
  object-fit: cover;
}

.avatar {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.picicon {
  transform: scale(0.8);
}

.propicbutton {
  border: none;
  background-color: #344e41;
  color: #fff;
  margin-top: 10px;
  padding: 8px 15px;
  border-radius: 5px;
}

.editform {
  flex: left;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
}

.inputfield {
  float: right;
  width: 70%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 150 ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  /* margin: 5px 1px 3px 0px; */
  border: 1px solid #dddddd;
  color: gray;
}

.inputfield:focus {
  box-shadow: 0 0 5px #3e8914;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #3e8914;
}

.group-control{
  margin-bottom: 20px;
}

/* .wrapperelement{
  height: 100px;
  overflow-y: scroll;
} */