/* .requestDiv{
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    max-width: max-content;
    max-height: max-content;
    padding: 4rem 4rem;
    margin: auto;
    margin-top: 15vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.fieldcss2{
    padding: 0.2%;
} */

.reqtitle{
    text-align: center;
    margin-top: 25px;
    color: #3e8914;
    font-family: "OpenSans";
}

.wrapper{
    margin: 50px auto;
    width: 1000px;
    height: 320px;
    border: 1px solid black;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    
}

.formdiv{
    padding: 20px 20px;
    margin: 0 30px;
}

.formControl{
    width: 500px;
    float: left;
    display: flex;
    flex-direction: column;
}

.formControl2{
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.fieldcss2{
    background-color: rgb(245, 245, 245);
    width: 390px;
    height: 45px;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}

.fieldcss2:focus{
    box-shadow: 0 0 5px #3e8914;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #3e8914;
  background-color: #fff;
}

.reqbutton{
    background: #3e8914;
    padding: 5px 10px;
    color: #fff;
    border: none;
    margin: 10px 2px;
    width: 90px;
    border-radius: 5px;
}


@media screen and (max-width: 960px) {
    .wrapper{
        display: inline;
        height: auto;
    }

    .formControl{
        float: left;
    }

    .formControl2{
        float: left;
    }

}