.loginDiv{
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    max-width: max-content;
    max-height: max-content;
    padding: 3rem 3rem;
    margin: 10vh auto;
    /* margin-top: 15vh; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}


.fieldcss{
    width: 300px;
    height: 35px;
    border-radius: 3px;
    font-size: medium;
    padding-left: 30px;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 150 ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}

.fieldcss:focus{
    width: 300px;
    height: 35px;
    box-shadow: 0 0 5px #3e8914;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #3e8914;
}


.button-outline{
    border: 1px solid #3e8914;
    background-color: transparent;
    border-radius: 0.2em;
    padding: 6px 8px;
    font-size: medium;
}

.button-outline:hover{
    background-color: #3e8914;
    color: #fff;
    padding: 5px 8px;
}

.button-primary{
    background-color: #3e8914;
    color: #fff;
    border: #3e8914;
    padding: 7px 25px;
    border-radius: 2px;
    font-size: medium;
}

.button-primary:hover{
    background-color: #3e8914;
}