

.pagetitle{
    
    border-bottom: 1px solid #dbfeb8;
    color: #294936;
    padding: 10px 100px;
    margin-top: 15px;
}


.menudiv{
    list-style-type: none;
    margin-top: 80px;
}

.listitem{
    display: flex;
    flex-direction: row;
    padding: 20px 150px; 
    border-radius: 20px;
    margin-bottom: 5px;
}

.listitem:hover{
    background-color: #b6dc76 ;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
}

.icon{
    flex: 30%;
    display: grid;
    place-items: center;

}

.title{
    flex: 70%;
}